<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:fragment="header">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Auth Server Demo">
        <meta name="author" content="Jared Larsen">
        <!--    <link rel="icon" href="../../favicon.ico" />-->
        <link href="/oauth2/webjars/bootstrap/5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"/>
    </div>
</head>
<body>
<div th:fragment="navigation">
</div>
<div th:fragment="footer">
    <div class="container">
        <footer>
        </footer>
    </div>
</div>
</body>
</html>


